html {
  background-color: #c9b5ab;
  font-family: "PT Serif";
  font-weight: normal;
  line-height: 1.5;
}

h1, h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

img {
  width: 100%;
}

a {
  font-size: 1.125rem;
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  line-height: 1.5;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

ol {
  list-style-type: none;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.intro {
  font-weight: bold;
  font-size: 1.125rem;
}

.secondp, .thirdp {
  font-size: 1rem;
}

.fourthp {
  font-size: 1.5rem;
  font-style: italic;
  text-indent: inherit;
}

.chrispratt {
  font-style: italic;
  font-size: .8rem;
  text-indent: inherit;
}

.one {
  list-style-type: lower-greek;
}

.fifthp {
  font-style: italic;
}

.pointone, .pointtwo, .pointthree, .pointfour {
  font-weight: bold;
}

dd {
  text-indent: inherit;
}

.wiki {
  font-size: 1rem;
}
